#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
data_path = '/content/drive/MyDrive/Colab Notebooks/Data pandas/supermarket_sales.csv'
df = pd.read_csv(data_path)

Mounted at /content/drive

In [2]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [13]:
df.groupby('Branch')['gross income'].sum().sort_values(ascending=False)

Branch
C    5265.1765
A    5057.1605
B    5057.0320
Name: gross income, dtype: float64

–§—ñ–ª—ñ–∞–ª –° –º–∞—î –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [15]:
df.groupby('City')['gross income'].sum().sort_values(ascending=False)

City
Naypyitaw    5265.1765
Yangon       5057.1605
Mandalay     5057.0320
Name: gross income, dtype: float64

–í—ñ–¥–ø–æ–≤—ñ–¥—å - Naypyitaw

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [22]:
invoices_by_category = pd.pivot_table(df, index = 'Branch', columns = 'Product line', values = 'Unit price', aggfunc="size")
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [24]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ü–∏—Ç–∞–Ω–Ω—è 1. –ß–∏ –≤–ø–ª–∏–≤–∞—î –ø–æ—î–¥–Ω–∞–Ω–Ω—è —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç–∞ (Member/Normal) —Ç–∞ —Å—Ç–∞—Ç—ñ –Ω–∞ —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫, —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—é –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—ñ–≤ —É —á–µ–∫—É?

In [26]:
customer_analysis = df.groupby(['Customer type', 'Gender']).agg({'gross income': 'sum', 'Total': 'mean', 'Quantity': 'mean'})
customer_analysis

                      gross income       Total  Quantity
Customer type Gender
Member        Female     4197.4735  337.727753  5.716475
              Male       3622.6905  316.985419  5.387500
Normal        Female     3796.9515  332.233256  5.737500
              Male       3762.2535  305.047581  5.204633

–í–∏—Å–Ω–æ–≤–æ–∫. –ß–ª–µ–Ω–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ-–∂—ñ–Ω–∫–∏ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫
–ë—ã–∑–Ω–µ—Å—É –Ω–µ–æ–±—Ö—ã–¥–Ω–æ —Å–∫–æ–Ω—Ü–µ–Ω—Ç—Ä—É–≤–∞—Ç–∏—Å—å –Ω–∞ Member –∂—ñ–Ω–∫–∞—Ö –¥–ª—è –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –≥–∞—Ä–Ω–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É

–ü–∏—Ç–∞–Ω–Ω—è 2. –ß–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –ø–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—å –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤ (Product line) —É —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö –ø–æ —Å—É–º–∞—Ä–Ω–æ–º—É –ø—Ä–∏–±—É—Ç–∫—É —Ç–∞ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫?

In [27]:
city_category_analysis = pd.pivot_table(df,index='City',columns='Product line',values=['Invoice ID', 'gross income'],aggfunc={'Invoice ID':'count', 'gross income':'sum'})
city_category_analysis

                         Invoice ID                                         \
Product line Electronic accessories Fashion accessories Food and beverages
City
Mandalay                         55                  62                 50
Naypyitaw                        55                  65                 66
Yangon                           60                  51                 58

                                                                     \
Product line Health and beauty Home and lifestyle Sports and travel
City
Mandalay                    53                 50                62
Naypyitaw                   52                 45                45
Yangon                      47                 65                59

                       gross income                                         \
Product line Electronic accessories Fashion accessories Food and beverages
City
Mandalay                   811.9735            781.5865           724.5185
Naypyitaw                  903.2845           1026.6700          1131.7550
Yangon                     872.2435            777.7385           817.2905


Product line Health and beauty Home and lifestyle Sports and travel
City
Mandalay               951.460           835.6745          951.8190
Naypyitaw              791.206           661.6930          750.5680
Yangon                 599.893          1067.4855          922.5095

Mandalay
–ù–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫: Fashion accessories —ñ Sports and travel (62 —ñ–Ω–≤–æ–π—Å–∏)
–ù–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫: Sports and travel - 951.82

Naypyitaw
–ù–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫: Fashion accessories - 65 —ñ–Ω–≤–æ–π—Å—ñ–≤
–ù–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫: Food and beverages - 1131.76

Yangon
–ù–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫: Electronic accessories - 60 —ñ–Ω–≤–æ–π—Å—ñ–≤
–ù–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫: Home and lifestyle - 1067.49

–ë—ñ–∑–Ω–µ—Å –≤–∏—Å–Ω–æ–≤–∫–∏


Mandalay:
Sports and travel –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ - –≤–∞—Ä—Ç–æ —Ä–æ–∑—à–∏—Ä—é–≤–∞—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ü–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤ —Ç–∞ –∞–∫—Ü—ñ—ó –Ω–∞ –Ω–∏—Ö.

Naypyitaw:
Food and beverages –≤–∏—Å–æ–∫–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –ø—Ä–∏ –≤–µ–ª–∏–∫—ñ–π –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ - –¥–æ–±—Ä–µ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è, –º–æ–∂–Ω–∞ –∑–∞–ø—É—Å–∫–∞—Ç–∏ –∞–∫—Ü—ñ—ó ‚Äú–∫–æ–º–±–æ-–Ω–∞–±–æ—Ä–∏‚Äù –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫–∞.

Yangon:
Home and lifestyle –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫, —Ö–æ—á–∞ –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ ‚Äì Electronic accessories =‚Üí –º–æ–∂–ª–∏–≤–æ, –≤–∞—Ä—Ç–æ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –º–∞—Ä–∂—É –Ω–∞ –ø–æ–ø—É–ª—è—Ä–Ω—ñ —Ç–æ–≤–∞—Ä–∏ –∞–±–æ —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –ø–æ–∫—É–ø–∫–∏ Home and lifestyle.

–ü–∏—Ç–∞–Ω–Ω—è 3. –ß–∏ –∑–∞–ª–µ–∂–∏—Ç—å –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—Å—Ç—å —ñ —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ –≤—ñ–¥ —Ñ—ñ–ª—ñ–∞–ª—É (Branch) —Ç–∞ —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏ (Payment)?

In [29]:
branch_payment_analysis = df.groupby(['Branch', 'Payment']).agg({'gross income':'sum','Total':'mean','Rating':'mean'})
branch_payment_analysis

                    gross income       Total    Rating
Branch Payment
A      Cash            1608.6310  307.102282  6.938182
       Credit card     1575.9405  318.218755  6.985577
       Ewallet         1872.5890  312.098167  7.138889
B      Cash            1682.8315  321.267832  6.998182
       Credit card     1778.3265  342.613362  6.760550
       Ewallet         1595.8740  296.578354  6.698230
C      Cash            2051.7075  347.466593  6.973387
       Credit card     1444.1650  309.463929  7.291837
       Ewallet         1769.3040  350.522491  6.986792

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –¥–ª—è –±—ñ–∑–Ω–µ—Å-—Ä—ñ—à–µ–Ω—å

–î–ª—è Branch A –≤–∞—Ä—Ç–æ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ –æ–ø–ª–∞—Ç—É —á–µ—Ä–µ–∑ Ewallet, –±–æ –≤–æ–Ω–∞ –¥–∞—î –Ω–∞–π–≤–∏—â–∏–π –¥–æ—Ö—ñ–¥ —ñ —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ –≤–∏—â–µ 7.
–î–ª—è Branch B ‚Äì –∞–∫—Ü–µ–Ω—Ç –Ω–∞ Credit card, –¥–ª—è Branch C ‚Äì –Ω–∞ Cash.

–í—ñ–¥—Å—Ç–µ–∂—É–≤–∞—Ç–∏ –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤ (Rating) –ø–æ —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, —É Branch B Ewallet –ø–æ–∫–∞–∑—É—î –Ω–∞–π–Ω–∏–∂—á–∏–π —Ä–µ–π—Ç–∏–Ω–≥, —Ç–æ–∂ –º–æ–∂–Ω–∞ –ø–æ–∫—Ä–∞—â–∏—Ç–∏ —Å–µ—Ä–≤—ñ—Å –ø—Ä–∏ —Ü—å–æ–º—É —Å–ø–æ—Å–æ–±—ñ –æ–ø–ª–∞—Ç–∏.